<div class="install-alternatives">
    <div class="collapsed" data-toggle="collapse" data-target=`#${input.id}`>Alternatives for advanced users</div>
    <div class="collapse" id=`${input.id}`>
        <${input.renderBody} />
    </div>
</div>