<install-steps>
  <install-step title="Installation">
    <p>
      Please see our Servarr Wiki for installation instructions.
      <a href="https://wiki.servarr.com/radarr/installation#linux">Link</a>
    </p>
    <migration-alert>Radarr v4 will convert any existing v0.2 or v3 directory automatically on startup.</migration-alert>
  </install-step>
</install-steps>
