<install-steps>
    <install-step title="Installation">
        <p>
            The community has put together an <a href="https://wiki.servarr.com/Radarr_Installation#Debian.2FUbuntu">Installation Guide</a> to help you install this on Debian or Ubuntu.
        </p>
        <migration-alert>
            Radarr v3 will convert any existing v0.2 directory automatically on startup.
        </migration-alert>
    </install-step>
</install-steps>