<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8J6E0ZPLFM"/>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8J6E0ZPLFM');
    </script>
    <title>Radarr</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-overrides.css"/>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/github.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/theme.css"/>
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.min.css" media="screen, projection"/>
    <link rel="icon" type="image/ico" href="img/favicon.ico"/>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="pull_top" data-spy="scroll" data-target=".header-navbar" data-offset="70">
    <${input.renderBody}/>
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row credits">
          <div class="col-md-12">
            <div class="row copyright">
              <div class="col-md-12">
                ©
                <span id="year"/>
                Sonarr/Radarr. All rights reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"/>
    <script src="js/tab-loader.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"/>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="js/theme.js"/>
    <script type="text/javascript" src="js/index-slider.js"/>
  </body>
</html>
