<li class=`nav-item${(input.active ? ' active' : '')}`>
    <a class=`nav-link${(input.active ? ' active' : '')}` data-toggle=`${(input.pill ? 'pill' : 'tab')}` href=input.href><icon icon=input.icon /><${input.renderBody} /></a>
</li>