
<site-layout>
    <site-navbar />
    
    <div id="home" />
    <site-section file="feature-slider.marko" />
    <site-section id="features" class="features" title="Features" file="features.marko" />
    <site-section id="download" class="download" title="Download" file="downloads-v3/downloads-v3.marko" />
    <site-section id="support" class="support" title="Support" file="support.marko" />
</site-layout>